<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
<div class="wrapper row3">
  <main class="container clear"> 
  <div style="height:40px;"></div>
    <h2 class="sectiontitle" style="text-align: center;">📝글 상세📝</h2>
    <table class="table">
     <tr>
      <th width=20% class="text-center">번호</th>
      <th width=30% class="text-center" th:text="${vo.no}"></th>
      <th width=20% class="text-center">작성일</th>
      <th width=40% class="text-center" th:text="${vo.regdate}"></th>
     </tr>
     <tr>
      <th width=20% class="text-center">이름</th>
      <th width=30% class="text-center" th:text="${vo.name}"></th>
      <th width=20% class="text-center">조회수</th>
      <th width=40% class="text-center" th:text="${vo.hit}"></th>
     </tr>
     <tr>
      <th width=20% class="text-center">제목</th>
      <th colspan="3" th:text="${vo.subject}"></th>
     </tr>
     <tr>
       <td colspan="4" class="text-left" valign="top" height="200">
        <pre style="white-space: pre-wrap; background-color: white; border: none;" th:text="${vo.content}"></pre>
     </tr>
     <tr>
       <td colspan="4" class="text-right" style="text-align: right;">
       <a th:href="@{/board/board_update(no=${vo.no})}" class="btn btn-xs btn-warning">✏ 수정</a>
       <a th:href="@{/board/board_delete(no=${vo.no})}" class="btn btn-xs btn-danger">🗑 삭제</a>
       <a href="/board/board_list" class="btn btn-xs btn-primary">🧾 목록</a>
       </td>
     </tr>
    </table>
  </main>
</div>
</body>    
</html>